html {
    background-color: rgba(19, 32, 40, 0.85);
}

body {
    padding: 0;
    margin: 0;
    background-color: rgba(19, 32, 40, 0.85);
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectable-text {
    -moz-user-select: text;
    -webkit-user-select: text;
    -o-user-select: text;
    -ms-user-select: text;
    user-select: text;   
}

html,
body,
.App {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1em;
    font-weight: 400;
    color: #000;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}