.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 64px;

    font-size: 1rem;
    line-height: 1em;
    font-weight: 400;

    background-color: rgba(19, 32, 40, 0.85);
    color: #fff;

    &__CurrentTime {
        padding: 0 10px 0 0;
    }

    &__Logo {
        text-decoration: none;
        margin: 0 25px 0 9px;
        white-space: nowrap;

        @media (max-width: 600px) {
            margin-left: 0;
        }

        &__Icon {
            display: inline-block;
            width: 32px;
            height: 32px;
            margin: 0 10px 0 12px;

            vertical-align: middle;

            background-repeat: no-repeat;
            background-size: 32px;
            background-image: url(/images/logo/W2_32kh32.png);

            @media (-webkit-min-device-pixel-ratio: 2),
                   (min--moz-device-pixel-ratio: 2),
                   (min-resolution: 2dppx),
                   (min-resolution: 192dpi) {
                background-image: url(/images/logo/W2_32kh32@2x.png);
            }
        }

        &__Title {
            display: inline-block;
            vertical-align: middle;
            font-size: 1.54rem;
            color: #fff;
            font-weight: 400;
            letter-spacing: 1px;
        }
    }

    &__LanguageSwitcher {
        padding: 10px;
        cursor: pointer;
        margin: 0 14px 0 0;
    }

    &__Logout {
        color: inherit;
        text-decoration: none;
        margin: 0 12px;
        padding: 5px;
    }
}