.Loader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(255, 255, 255, 0.68);

    &__Center {
        border-radius: 50%;
        width: 48px;
        height: 48px;
        display: inline-block;
        box-sizing: border-box;
        border-top: solid 24px #0fd6ff;
        border-right: solid 24px #58bd55;
        border-bottom: solid 24px #eb68a1;
        border-left: solid 24px #f3d53f;
        animation: cp-pinwheel-animate 1s linear infinite;

        box-shadow: 0px 0px 161px 51px rgb(255, 255, 255);

        @keyframes cp-pinwheel-animate {
            0% {
                border-top-color: #0fd6ff;
                border-right-color: #58bd55;
                border-bottom-color: #eb68a1;
                border-left-color: #f3d53f;
                transform: rotate(0)
            }

            25% {
                border-top-color: #eb68a1;
                border-right-color: #f3d53f;
                border-bottom-color: #0fd6ff;
                border-left-color: #58bd55
            }

            50% {
                border-top-color: #0fd6ff;
                border-right-color: #58bd55;
                border-bottom-color: #eb68a1;
                border-left-color: #f3d53f
            }

            75% {
                border-top-color: #eb68a1;
                border-right-color: #f3d53f;
                border-bottom-color: #0fd6ff;
                border-left-color: #58bd55
            }

            100% {
                border-top-color: #0fd6ff;
                border-right-color: #58bd55;
                border-bottom-color: #eb68a1;
                border-left-color: #f3d53f;
                transform: rotate(360deg)
            }
        }
    }
}