.ModalWindow {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}