.ModelsEdit {
    margin: 30px 15px;
    padding: 10px;
    background-color: #fafafa;

    display: flex;
    flex-direction: column;

    &__Form {
        flex: 1;

        &__Line1 {
            &__Title {
                font-size: 1.2rem;
                line-height: 1em;
                color: #888;
                margin: 0 0 20px 0;
                text-transform: uppercase;
            }

            &__Body {}
        }

        &__Line2 {
            margin: 55px 0 30px 0;

            &__Title {
                font-size: 1.1rem;
                line-height: 1em;
                color: #888;
                margin: 0 0 20px 0;
                text-transform: uppercase;
                
                width: 100%;
                min-height: 32px;
            }

            &__Body {}
        }
    }

    &__NavLine {
        margin: 55px 0 0 0;
        display: flex;
        justify-content: space-between;

        &__Prev {}
        &__Done {}
    }
}