.VolumeEdit {
    margin: 0;
    padding: 40px 25px;
    background-color: #fafafa;

    display: flex;
    flex-direction: column;

    overflow-y: scroll;

    &__Form {
        flex: 1;

        &__Line1 {

            &__Title {
                font-size: 1.2rem;
                line-height: 1em;
                color: #888;
                margin: 0 0 20px 0;
                text-transform: uppercase;
            }

            &.Fixed {}
        }

        &__Line2 {
            margin: 55px 0 30px 0;

            &__Flexible {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                margin: 0 0 20px 0;
                
                &__Title {
                    font-size: 1.1rem;
                    line-height: 1em;
                    color: #888;
                    text-transform: uppercase;
                }

                &__Upload {
                    white-space: nowrap;
                }
            }
        }

        &__Line3 {}
    }
}
