.VolumeSkeletonEdit {
    margin: 30px 15px;
    padding: 10px;
    background-color: #fafafa;

    display: flex;
    flex-direction: column;

    &__Form {
        flex: 1;

        &__Title {
            font-size: 1.2rem;
            line-height: 1em;
            color: #888;
            margin: 0 0 20px 0;
            text-transform: uppercase;
        }

        &__Line1 {}
    }

    &__NavLine {
        margin: 55px 0 0 0;
        display: flex;
        justify-content: flex-end;

        &__Next {}
    }
}