.ShareMapData {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #626262;

    &__Title {
        font-weight: 600;
        text-align: center;
        margin: 10px 0 30px 0;
        font-size: 1.2rem;
        line-height: 1em;
    }

    &__SubTitle {
        margin: 10px 0;
        text-align: center;
        font-size: .95rem;
        line-height: 1em;
    }

    &__ShareLinkInput {
        display: block;
        width: 100%;
        margin: 5px 0 0 0;
        padding: 4px 0;
        font-size: .8rem;
        line-height: 1em;
        border: none;
        border-bottom: 1px dashed #b6b6b6;
        outline: none;
    }

    &__OkButton {
        text-align: center;
        margin: 25px 0 0 0;
        padding: 7px 0;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1em;
        cursor: pointer;
        color: #fff;
        background-color: #70a66e;
        border: 1px solid #336731;
    }
}