.DataMiningVolumeContainer {
    &__Columns {
        &__List {
            margin: 14px 10px 4px 0;
            padding: 0px 0 30px 0;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: row wrap;

            position: relative;
        }

        &__List-Item {
            margin: 4px 5px 4px 0;
            padding: 5px 7px 7px 7px;
            color: #1e1e1e;
            background-color: #fafafa;
            border: .5px solid #d5d5d5;

            cursor: pointer;

            &--active {
                background-color: #354047;
            }

            &__Index {
                margin-right: 4px;
                color: #888;

                &:before {
                    content: "#";
                }
            }

            &__Name {
                font-size: 1rem;
                line-height: 1em;
                font-weight: 500;
            }

            &__Type {
                &:before {
                    content: ":";
                    padding: 0 2px;
                }

                font-size: 1rem;
                line-height: 1em;
                color: #888;
            }

            &--active & {
                &__Index,
                &__Name,
                &__Type {
                    color: #fff;
                }
            }
        }
    }

    &__SVGBox {
        position: relative;
    }

    &__SVG {
        min-height: 500px;
        min-width: 100%;

        cirlce {
            stroke: #0000;
        }
        circle.selected {
            fill: rgba(255, 0, 0, 0.56);
            stroke: #f00;
        }
    }

    &__SVGBrush {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}
