.ModelsBuilderVolumeContainer {
    &__Models-List {
        margin: 10px 0 0 0;
        padding: 0;

        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-around;

        list-style: none;
    }

    &__Models-List-Item {
        flex: 1;

        position: relative;

        border: 1px solid hsla(0, 0%, 90%, 1);
        background-color: hsla(0, 0%, 97%, 1);
        padding: 12px;
        margin: 10px;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
        min-width: 200px;

        &.Create {
            display: flex;
            align-items: center;
            justify-content: center;

            align-self: stretch;
            cursor: pointer;

            border: 1px solid hsla(0, 0%, 97%, 1);
            background-color: hsla(0, 0%, 99%, 1);
        }
    }
}
