.AppWaitDialog {
    display: flex;
    align-items: center;
    justify-content: center;

    &.is-fixed {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &.is-absolute {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    z-index: 999;

    background-color: #fff;

    transition: opacity .6s cubic-bezier(0.19, 1, 0.22, 1);

    &.is-entering {
        opacity: 1;
    }
    &.is-entered {}
    &.is-exiting {
        opacity: 0;
    }
    &.is-exited {
        display: none;
    }

    &__Spinner {
        animation: 2s infinite spin linear;
    }

    @keyframes spin {
        from {transform:rotate(0deg);}
        to {transform:rotate(360deg);}
    }
}