.EditVolume {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: #fafafa;

    &__VolumeSkeletonEditComponent,
    &__TableEditComponent,
    &__ModelsEditComponent,
    &__Empty {
        flex: 1;
    }

    &__Empty {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #adadad;
    }
}