.ViewModelAnalysisContainer {
    position: relative;
    display:  flex;
    flex-direction: column;

    &__ControlsBox {
        display: flex;
        align-items: center;
        justify-content: space-around;

        border-bottom: 1px solid #b9b9b9;

        &__Controls {
            display: flex;
            align-items: center;
            justify-content: center;

            &__Item {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                cursor: pointer;

                margin: 0 4px;
            }

            &:before {
                content: 'Resolution:';
                padding-right: 8px;
                color: #969696;
            }
        }

        &__CropTool {
            display: flex;
            align-items: center;

            &__ShowButton {
                margin: 0 20px;
                padding: 5px 6px 5px 8px;
                cursor: pointer;
                background-color: #3f51b5;
                color: #fff;
            }
        }
    }

    &__HeatMaps {
        flex: 1;
    }

    &__FeaturesDialogPaper {
        background-color: rgba(0, 0, 0, 0.8196078431372549) !important;
    }
}