.ViewModelInVolumeContainer {
    position: relative;

    &__CalculatedLabel,
    &__FailLabel {
        position: absolute;
        top: -4px;
        right: 10px;
    }

    &__Type {
        display: block;
        padding: 4px 0 20px 0;
        font-size: 1.2rem;
        line-height: 1em;

        color: #170c77;
    }

    &__Name {
        display: block;
        padding: 0 0 10px 0;
        color: #373737;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:before {
            content: 'name:';
            padding-right: 5px;
            color: #818181;
        }
    }

    &__DependValue {
        display: block;
        padding: 0 0 10px 0;
        color: #373737;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:before {
            content: 'key column:';
            padding-right: 5px;
            color: #818181;
        }

        &__Column {
            display: inline-block;
            color: #1e1e1e;

            &__Index {
                margin-right: 4px;

                &:before {
                    content: "#";
                }
            }

            &__Name {
                font-size: 1rem;
                line-height: 1em;
            }

            &__Type {
                &:before {
                    content: ":";
                    padding: 0 2px;
                }
                                        
                font-size: 1rem;
                line-height: 1em;
            }
        }
    }

    &__MapDimensions {
        display: block;
        padding: 0 0 10px 0;
        color: #373737;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:before {
            content: 'map:';
            padding-right: 5px;
            color: #818181;
        }

        &__Width {
            &:before {
                content: 'W:';
                padding-right: 2px;
            }
            padding-right: 4px;
        }
        &__Height {
            &:before {
                content: 'H:';
                padding-right: 2px;
            }
            padding-right: 4px;
        }
        &__Size {
            &:before {
                content: 'S:';
                padding-right: 2px;
            }
            padding-right: 4px;
        }
    }

    &__Status {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 25px 0 0 0;

        transition: opacity .6s cubic-bezier(0.19, 1, 0.22, 1);

        &.is-entering {
            opacity: 1;
        }
        &.is-entered {}
        &.is-exiting {
            opacity: 0;
        }
        &.is-exited {
            display: none;
        }

        &__InProgressLabel {
            color: #818181;
            padding: 8px 16px;
            min-height: 20px;  
        }

        &__Spinner {
            position: absolute;
            top: 13px;
            right: 10px;
        }
    }

    &__Controls {
        display: flex;
        justify-content: space-between;
        padding: 25px 0 0 0;

        &__Button {
            font-size: .9rem;
            line-height: 1em;
            font-family: inherit;
        }

        &__Link {
            color: #59af50;
            text-decoration: none;
            padding: 8px 16px;
            font-size: .9rem;
            line-height: 1em;
            text-transform: uppercase;
            font-weight: 500;
        }
    }
}