.ViewModelTableAnalysisContainer {
    &__Cell {
        background-color: #eee;
        border: 1px solid rgb(221, 221, 221);
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 1rem;
        line-height: 1em;
        font-weight: 500;
        color: #2a2a2a;

        &.is-active {
            background-color: #12ac12;
            color: #fff;
        }
    }
}
