.CreateVolumeComponent {
    position: fixed;
    right: 30px;
    bottom: 90px;

    z-index: 1;

    &__InProcessIcon {
        animation: 2s infinite spin linear;

        @keyframes spin {
            from {transform:rotate(0deg);}
            to {transform:rotate(360deg);}
        }
    }
}