.ViewVolumeComponent {
    display: flex;
    flex-direction: column;

    &__Card {
        padding: 20px;
        margin: 0 0 15px 0;

        position: relative;
        overflow: hidden;

        &.Switcher {
            padding: 0;
            border-bottom: none;
        }
    }

    &__Paper {
        max-width: 800px;
        min-width: 800px;
        margin: 30px auto;

        @media (max-width: 860px) {
            min-width: auto;
            margin: 30px 10px;
        }
    }

    &__Base {
        flex: 1;

        display: flex;
        align-items: flex-start;
        justify-content: start;
        flex-flow: column wrap;

        position: relative;


        &__Name {
            margin: 4px 120px 4px 0;
            text-transform: capitalize;
            font-size: 1.4rem;
            line-height: 1em;
            font-weight: 400;
        }

        &__Description {
            margin: 20px 0 10px 0;
            color: #505050;
            font-size: 1rem;
            line-height: 1.65em;
        }

        &__Time {
            position: absolute;
            top: 8px;
            right: 8px;
            color: #afafaf;
        }

        &__Columns {
            &__List {
                margin: 14px 10px 4px 0;
                padding: 30px 0 0 0;
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: start;
                flex-flow: row wrap;

                position: relative;

                &:before {
                    content: 'Data set columns:';
                    padding: 0 10px 0 0;
                    color: #0d0d0d;

                    position: absolute;
                    left: 0;
                    top: 0;

                    font-size: 1rem;
                    line-height: 1em;
                    font-weight: 400;
                }
            }

            &__List-Item {
                margin: 4px 5px 4px 0;
                padding: 5px 7px 7px 7px;
                color: #1e1e1e;
                background-color: #fafafa;

                cursor: pointer;

                &__Index {
                    display: none;
                    margin-right: 4px;
                    color: #888;

                    &:before {
                        content: "#";
                    }
                }

                &__Name {
                    font-size: 1rem;
                    line-height: 1em;
                }

                &__Type {
                    display: none;

                    &:before {
                        content: ":";
                        padding: 0 2px;
                    }

                    font-size: 1rem;
                    line-height: 1em;
                    color: #888;
                }
            }
        }

        &.is-deleted & {
            &:after {
                content: 'DELETED';
                padding-left: 10px;
                color: #f00;
                opacity: .1;
                position: absolute;
                bottom: -59px;
                left: 10px;
                font-size: 3rem;
                line-height: 1em;
                transform: rotate(-6deg);
                border: 6px solid #f00;
                padding: 0 10px;
                z-index: 1;
            }

            &__Name,
            &__Description,
            &__Columns,
            &__Models {
                opacity: .4;
                position: relative;
                z-index: 2;
            }
        }
    }

    &__Spinner {
        text-align: center;
    }

    &__Controls {
        display: flex;
        justify-content: flex-end;

        position: relative;
        z-index: 2;

        padding: 20px 0 0 0;

        &__Restore {}
        &__Delete {}

        &__Edit {
            &__Link {
                text-decoration: none;
            }
        }

        &__AddData {}
    }

    &__Analysis {
        margin: 40px 0 0 0px;
        padding-top: 0px;
    }
}
