.VolumeComponent {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-flow: column wrap;

    position: relative;

    &.is-deleted {
        &:after {
            content: 'DELETED';
            padding-left: 10px;
            color: #f00;
            opacity: .1;
            position: absolute;
            bottom: -60px;
            left: 10px;
            font-size: 3rem;
            line-height: 1em;
            transform: rotate(-3deg);
            border: 6px solid #f00;
            padding: 0 10px;
            z-index: 99;
        }
    }

    &.is-deleted & {
        &__Name,
        &__Description,
        &__Columns,
        &__Models {
            opacity: .4;
        }
    }

    &__Name {
        margin: 4px 120px 4px 0;
        text-transform: capitalize;
        font-size: 1.4rem;
        line-height: 1em;
        font-weight: 400;
    }

    &__Description {
        margin: 20px 0 10px 0;
        color: #505050;
        font-size: 1rem;
        line-height: 1.65em;
    }

    &__Time {
        position: absolute;
        top: 0;
        right: 0;
        color: #afafaf;
    }

    &__Columns {
        margin: 4px 10px 4px 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-flow: row wrap;

        &__Item {
            margin: 4px 5px 4px 0;
            padding: 5px 7px 7px 7px;
            color: #1e1e1e;
            background-color: #fafafa;
            border: .5px solid #d5d5d5;
        }
    }

    &__Models {
        margin: 4px 10px 4px 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-flow: row wrap;

        &__Item {
            margin: 4px 5px 4px 0;
            padding: 5px 7px 7px 7px;
            color: #fff;
            background-color: #405bb7;
            border: .5px solid #2a408b;
        }
    }
}