.VolumesComponent {
    max-width: 800px;
    margin: 0 auto 35px auto;

    @media (max-width: 820px) {
        margin: 0 10px 35px 10px;
    }

    &__Title {
        font-size: 1.2rem;
        line-height: 1em;
        color: #888;
        text-transform: uppercase;
        margin: 20px 10px 10px 10px;
    }
    &__List {
        padding: 0;
        margin: 0;
        list-style: none;

        &__Item {
            margin: 10px 0 0px 0;
            min-width: 800px;

            @media (max-width: 820px) {
                min-width: auto;
            }

            &__Card {
                overflow: hidden;

                &__Link {
                    text-decoration: none;
                    color: inherit;
                    padding: 20px 20px 32px 20px;

                    display: block;
                    cursor: pointer;
                }
            }
        }
    }
}