.VolumeTableColumnsEdit {
    &__Columns {
        padding: 0;
        margin: 0;
        
        &__Column {
            display: flex;
            align-items: baseline;
            margin: 0 0 10px 0;

            &__Index {
                color: #c9c9c9;
                margin-right: 15px;
            }
            &__Type {
                flex: 1;
                margin-right: 15px;
            }
            &__Name {
                flex: 1;
                margin-right: 15px;
            }
            &__Description {
                flex: 2;
            }
        }
    }
}