.VolumeInfoEdit {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-flow: row nowrap;

    @media (max-width: 500px) {
        flex-direction: column;
    }

    margin: 10px 0 0 0;

    &__Name {
        flex: 1;
        width: 100%;
    }
    &__Description {
        flex: 2;
        width: 100%;
        margin: 0 0 0 10px;
        @media (max-width: 500px) {
            margin: 10px 0 0 0;
        }
    }
}