.ViewModel {
    display: flex;
    flex-direction: column;
    height: 100vh;

    background-color: #fafafa;

    &__ViewModelAnalysisContainer,
    &__ViewModelTableAnalysisContainer,
    &__Empty {
        flex: 1;
    }

    &__Empty {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #adadad;
    }
}