.HeatMaps {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    .heatmap-canvas {
        position: relative !important;
        width: 100% !important;
        height: 100% !important;

        z-index: 1;
    }

    &__SVG {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
}