.Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;

    border-top: 1px dashed #ccc;
    margin: 0;
    padding: 0 10px;

    font-size: 1rem;
    line-height: 1em;

    text-align: center;

    background-color: rgba(19, 32, 40, 0.85);
    color: #fff;
}