.ModelTypeSelection {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media (max-width: 600px) {
        flex-direction: column;
    }

    height: 100%;

    &__Regression {
        &__Icon {
            background-image: url(/images/models/regression.png);

            @media (-webkit-min-device-pixel-ratio: 2),
                   (min--moz-device-pixel-ratio: 2),
                   (min-resolution: 2dppx),
                   (min-resolution: 192dpi) {
                background-image: url(/images/models/regression@2x.png);
            }
        }
    }

    &__Classification {
        &__Icon {
            background-image: url(/images/models/classification.png);

            @media (-webkit-min-device-pixel-ratio: 2),
                   (min--moz-device-pixel-ratio: 2),
                   (min-resolution: 2dppx),
                   (min-resolution: 192dpi) {
                background-image: url(/images/models/classification@2x.png);
            }
        }
    }

    &__Clustering {
        &__Icon {
            background-image: url(/images/models/clustering.png);

            @media (-webkit-min-device-pixel-ratio: 2),
                   (min--moz-device-pixel-ratio: 2),
                   (min-resolution: 2dppx),
                   (min-resolution: 192dpi) {
                background-image: url(/images/models/clustering@2x.png);
            }
        }
    }

    &__Regression,
    &__Classification,
    &__Clustering {
        flex: 1;

        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;
        width: 100%;

        &__Title {
            font-size: 1.3rem;
            line-height: 1em;

            margin: 20px 0;
        }

        &__Icon {
            width: 60px;
            height: 60px;

            background-repeat: no-repeat;
            background-size: 60px;
        }

        &__Button {
            height: 100%;
            width: 100%;

            flex: 1;

            display: flex !important;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}
