.ModelTune {
    display: flex;
    align-items: center;
    justify-content: space-around;

    position: relative;

    height: 100%;

    &__Columns {
        display: flex;
        flex-wrap: wrap;

        margin: 20px 10px 50px 10px;
        padding: 0;

        list-style: none;
        justify-content: center;

        &__Column {
            margin: 15px 20px;
            padding: 0;
            border: 1px solid #a6a6a6;
            border-radius: 5px;

            cursor: pointer;
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;

            &.is-selected {
                background-color: #32a83c;
                cursor: default;
            }

            &__Index {
                position: absolute;
                right: 100%;
                margin-right: 4px;

                &:after {
                    content: ":";
                }
            }

            &__Name {
                font-weight: 600;
                font-size: 1rem;
                line-height: 1em;

                padding: 0 1px 0 4px;
            }

            &.is-selected & {
                &__Name {
                    color: #fff;
                }
            }

            &__Type {
                margin: 0 0 0 4px;
                padding: 7px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;

                background-color: #364149;

                color: #fff;
                font-weight: 600;
                font-size: 1rem;
                line-height: 1em;
            }
        }
    }

    &__AlgorithmType {
        padding: 0;
        margin: 0;

        &__Item {
            border: 1px solid #afafaf;
            background-color: #eee;
            padding: 12px 14px;
            cursor: pointer;

            &.is-selected {
                background-color: #32a83c;
            }
            &.is-selected & {
                &__Title {
                    color: #fff;
                }
            }
        }
    }
}
